* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("pxfuel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;

    
}
/* h1{
    position: relative;
    bottom: 10vh;

} */

.login-box {
    background: #fff;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.2s ease;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    font-size: 12px;
    color: #667eea;
}

.input-box input:focus {
    border-bottom: 2px solid #667eea;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #667eea;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background: #764ba2;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }


}
/* footer{
    margin-top: auto;
    width: 100%;
    border: 3px solid black;
    position: absolute;
} */